// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$teal: #285c7c;
$dark-teal: #377483;
$light-green: #9DC08B;
$dark-grey: #282828;
$bubble-teal: #275C7C;

// Les Routes colors
$lr-font-dark: #1B262C;
$lr-font-light: #b8b1b1cc;

$lr-primary: #0F4C75;
$lr-secondary: #3282B8;

$lr-route-private: #3282B8;
$lr-route-shared: #000000;

$lr-div-lines: #b8b1b1cc;
