.editpage-container-mobile {
  width: 90vw;
  margin: 2px auto;
  .page-actions {
    display: flex;
    justify-content: space-between;
  }
  .route-title > h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .route-specs {
    font-size: 14px;
    color: #444242c2;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    display: flex;
    justify-content: space-between;
  }
  .route-settings {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

  }
  .route-itinerary {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    h1 {
      font-size: 23px;
      font-weight: 400;
    }
    .route-destination-cards {
      width: 95%;
      margin: 0px auto;
      position: relative;
      .delete-button-area {
        height: 40px;
        width: 40px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items:center;
        right:0px;
        z-index: 4;
      }
    }
   }
}
