.index-routes-container-mobile {
  width: 95vw;
  margin: 2px auto;
  color: $lr-font-dark;
  h1 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.2rem;
  }
  .page-top-action {
    display: flex;
    justify-content: space-between;
  }
}
