.index-routes-container-mobile {
  width: 95vw;
  margin: 2px auto;
  color: $lr-font-dark;

  .page-top-action {
    .page-actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      .btn-success{
        color: white;
      }
    }
    .page-intro {
      text-align: center;
      font-size: 0.9rem;
    }
  }
  .page-actions-public{
    display:flex;
    justify-content: space-between;
    font-size: 0.9rem;
    .intro-text {
      width: 70%;
    }
    .filter-button {
      margin-top: 5px;
    }

  }
  .no-routes-text {
    text-align: center;
  }
  .no-routes-actions {
    display:flex;
    justify-content: space-evenly;
  }

}
