.index-routes-container-mobile {
  width: 95vw;
  margin: 2px auto;
  color: $lr-font-dark;
  h1 {
    font-size: 16px;
    font-weight: bold;
  }
  h2 {
    font-size: 15px;
  }
  .page-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
