<div class="footer">
  <div class="footer-links">
    <a href="#">Privacy</a>
    <a href="#">Contact</a>
    <a href="#">Github</a>
  </div>
  <div class="footer-copyright">
    © Les Routes 2023
  </div>
</div>
