<div class="footer">
  <div class="footer-links">
    <a href="#">Privacy</a>
    <a href="mailto:contact.joshba06@gmail.com?subject=Lesroutes.co.uk">Contact</a>
    <a href="https://github.com/joshba06/lesroutes" target="_blank">Github</a>
  </div>
  <div class="footer-copyright">
    © Les Routes 2023
  </div>
</div>
