// Link-Divs in front (z-index) of card-coute
.card-route-stack {
  width: 100%;
  height: 145px;
  position: relative;
  .link-route-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

// Card route mobile
.card-route-mobile.public {
  border-left: 3px solid $lr-route-shared;
}

.card-route-mobile {
  border-left: 3px solid $lr-route-private;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  top: -9px;
  left: 0px;

  .card-top {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 19px;
      font-weight: 500;
      color: $lr-font-dark;
    }
  }
  .card-middle {
    display: flex;
    justify-content: flex-start;
    .text-description {
      font-size: 14px;
      color: $lr-font-light;
      font-weight: 300;
    }
  }
  .card-bottom {
    display: flex;
    justify-content: flex-start;

    .card-route-destinations {
      width: 265px;
      border-right: 0.25px solid $lr-div-lines;
      padding-right: 5px;
      .top {
        display: flex;
        justify-content: flex-start;
        margin-left: 2px;
      }
      .middle {
        margin-left: 2.5px;
        .connector-line-top {
          width: 10px;
          height: 4px;
          border-right: 1.5px dotted $lr-div-lines;
        }
        .connector-line-bottom {
          width: 10px;
          height: 4px;
          border-right: 1.5px dotted $lr-div-lines;
        }
        .route-mode-icon {
          margin-left: 5px;
          height: 12px;
          position: relative;
          top: -6px;
        }
      }
      .bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 2px;
      }
      .destination-circle-icon {
        margin-top: 2px;
        margin-right: 5px;
        background-color: white;
        height: 20px;
        width: 20px;
        border: 2px solid $lr-primary;
        border-radius: 50%;
      }
    }
    .card-route-details {
      padding-left: 15px;
      font-size: 15px;
    }
  }

}
