// Mobile
.navbar {
  background-color: $lr-primary;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-section {
    display: flex;
    align-items: center;
    img {
      width: 140px;
    }
  }
  .right-section{
    display: flex;
    justify-content: flex-end;
    .quicklinks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 15px;
    }
    .navbar-toggler {
      border-radius: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      .navbar-toggler-icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
      .navbar-avatar{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
    }
  }
  .nav-link{
    color: white;
  }
}
