<div class="index-routes-container-mobile public" data-controller="route">

  <div class="page-actions-public mx-1 mt-3 mb-2">
    <p class="intro-text">These routes were shared by the Les Routes community</p>
    <div class="filter-button">
      <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true" data-action="click->route#toggle_filter_menu" data-route-target="filterButton"><i class="fa-solid fa-filter"> </i> Filter</a>
    </div>
  </div>



  <div class="container-filter hidden" data-route-target="filterMenu">
    <%= render partial: "shared/form_filter_routes", locals: {routes: @routes, url: "/routes/public"} %>
  </div>

  <div class="route-cards">
    <% @routes_filtered.each do |route| %>

      <div class="card-route-stack p-1 my-3">

        <div class="link-route-options">
         <%= render partial: "shared/options_menu_route", locals: {route: route} %>
        </div>

        <%= link_to route_path(route), :action => 'go', style: 'color:black;text-decoration:none;' do %>
          <%= render partial: "shared/card_route", locals: {route: route} %>
        <% end %>

      </div>

    <% end %>
  </div>

</div>
