<div class="container-desktop-page">
  <h2>Hi, there</h2>
  <p>For now, this web app works on smartphones only. <br>
  You can check out our friend's website, who built a prototype desktop version:
  </p>
  <a href="http://www.my-routes.co.uk/" target="_blank" class="btn btn-primary" >myRoutes.co.uk</a>
</div>
